img {
  height: auto;
  width: 100%;
  object-fit: cover;
  align-self: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #f5f5f5;
}

main {
  padding: 2rem 2rem;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}
h2 {
  font-family: "Mukta", sans-serif;
}
h3 {
  font-family: "Mukta", sans-serif;
  font-weight: bold;
}
h4 {
  font-family: "Mukta", sans-serif;
}
h5 {
  font-family: "Sarala", sans-serif;
}
p {
  font-family: "Sarala", sans-serif;
  margin: 1rem 0 1rem 0;
}

span {
  font-family: "Sarala", sans-serif;
}

img {
  margin-bottom: 1rem;
}

/* Desktop */
@media (min-width: 1200px) {
  main {
    padding: 6rem 6rem;
  }
  #produktside {
    padding: 8rem 8rem;
    margin-top: -8rem;
  }
}

.brandImage {
  height: 4rem;
  background-blend-mode: screen;
}

.produktbillede {
  aspect-ratio: 1/1;
  border-radius: 10px;

  box-shadow: -5px 7px 23px -1px rgba(186, 186, 186, 0.57);
  -webkit-box-shadow: -5px 7px 23px -1px rgba(186, 186, 186, 0.57);
  -moz-box-shadow: -5px 7px 23px -1px rgba(186, 186, 186, 0.57);
}

.produktbillede2 {
  aspect-ratio: 1/2;
  border-radius: 10px;

  box-shadow: -5px 7px 23px -1px rgba(186, 186, 186, 0.57);
  -webkit-box-shadow: -5px 7px 23px -1px rgba(186, 186, 186, 0.57);
  -moz-box-shadow: -5px 7px 23px -1px rgba(186, 186, 186, 0.57);
}

.produkt {
  max-width: 13rem;
  display: grid;
  place-items: end;
  margin: auto;
  margin-top: 1rem;
}

.produkt a {
  display: grid;
  place-items: start;
}
.produkt:hover {
  scale: 1.05;
}

/* tekst på produktliste */
.produkt p {
  margin-top: 0;
}

/* Bannere/ rabat og udsolgt */

img,
h5,
.discount {
  grid-area: 1 / 1;
}

.udsolgt img {
  filter: brightness(0.5);
}

.udsolgtbanner {
  background-color: gray;
  color: white;
  min-width: 100%;
  font-size: 1rem;
  border-radius: 10px 10px 0 0;
  padding-left: 1rem;
  z-index: 1;
  max-height: 10%;
  display: none;
}

.rabat {
  text-decoration: line-through;
}

.rabatbanner {
  background-color: red;
  color: gold;
  min-width: 100%;
  font-size: 1rem;
  border-radius: 10px 10px 0 0;
  padding-left: 1rem;
  z-index: 1;
  max-height: 10%;
  display: none;
}

.discount {
  color: red;

  margin-left: auto;
  margin-top: auto;
  display: none;
}

.rabatPris {
}

.brand {
  color: gray;
}

.display {
  display: inherit;
}

.hide {
  display: none;
}
/* Knapper */
.cta1 {
  background-color: #adc8cd;
  height: auto;

  text-align: center;
  padding: 1rem 3rem;
  border-radius: 10px;
  font-family: "Mukta", sans-serif;
  margin: auto;
  transition: 0.1s ease;
  border: 2px solid #adc8cd;
}

.cta1:hover {
  background-color: #9eb7bb;
  transition: 0.2s ease;
  color: #f5f5f5;
}

.link {
  text-decoration: underline;
  font-family: "Mukta", sans-serif;
}
.link:hover {
  font-style: italic;
}

.sti {
  list-style: none;
}

.brandBio {
  font-style: italic;
}

.green {
  color: green;
}

.blue {
  color: #6969a7;
}
