.menu li {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  color: rgb(105, 105, 167);
}

.menu li:hover {
  color: red;
  border-bottom: 3px #6969a7 solid;
  transition: color 0.2s ease;
}
header nav {
  padding: 1rem;
}

header nav ul {
  display: flex;
  justify-content: space-around;
}
header nav {
  background-color: #adc8cd;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.logo {
  height: auto;
  width: 50%;
}

.icon {
  height: auto;
  width: 5rem;
  margin: auto;
}
